@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

.login-card{
    width:35%;
    margin: 0 auto;
    margin-top: 10%;
}

.footer{
    text-align: center;
    margin:0 auto;
}

.all-lists{
    background-color: white;
    margin: 0 auto;
}

.items{
    margin-bottom: 2%;

}

.item-card{
    margin:0 auto;
}

.item-header{
    margin-bottom: 5%;
}

.item-Body{
    margin-top: 6%;
}

.item-group{
    min-height: 10% ;
    margin-top:2%;
}

.item-Name{
    position: relative;
    text-align: left;
}

.item-Status{
    top:0%;
    text-align: right;
}

.item-Description{
    margin:0;
}

.form-control{
    margin-top:5px;
}
.del-btn{
    margin-top:5px;
}

.bg-teal{
    background-color: #20c997;
}

.bg-pink{
    background-color: #e83e8c;
}

.bg-orange{
    background-color: #fd7e14;
}

.bg-yellow{
    background-color: #ffd454;
}

.bg-green{
    background-color: #28a745;
}

.bg-cyan{
    background-color: #17a2b8;
}

.bg-gray{
    background-color: gray;
}