@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

.login-card{
    width:35%;
    margin: 0 auto;
    margin-top: 10%;
}

.footer{
    text-align: center;
    margin:0 auto;
}

.all-lists{
    background-color: white;
    margin: 0 auto;
}

.centerAlign{
    margin: 0 auto;
}